@import url(https://fonts.googleapis.com/css?family=Finger+Paint);
@import url(https://fonts.googleapis.com/css?family=Raleway);


body {
	width: 100%;
	height: 100%;
	position: relative;
	box-sizing: border-box;
	font-family: "Raleway";
	text-align: center;
	font-size: 100%;
}

#welcome-overlay {
	width: 100%;
	height: 500px;
	position: fixed;
	z-index: 50;
	background-color: white;
}

.intro-container {
	background-color: #ddff99;
	position: relative;
	width: 70em;
	height: 40em;
	margin: auto;
	top: 5%;
	z-index: 1;
	border-style: solid;
	border-color: black;
}
#top-header {
	width: 100%;
	background-color: #ddff99;
	padding-top: 1em;
}

header h1 {
	font-family: "Finger Paint";
	font-size: 3em;
	padding: .5em 0 .5em 0;
}
#instructions {
	position: absolute;
	left: 2em;
	top: 12em;	
}

#instructions h4 {
	font-family: "Finger Paint";
	font-size: 1.5em;
	padding: .5em 0 .5em 0;
}
#instructions ul {
 	text-align: left;
}

#instructions ul li {
	line-height: 1.5em;
}

#start-button {
	position: relative;
    left: 18em;
    top: 7em;
    width: 20em;
    height: 5em;
    font-size: 1em;
    border-radius: 3em;
    border-style: solid;
    border-color: black;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Finger Paint';
}
#submit-button {
	position: relative;
    left: 18em;
    top: 20em;
    width: 20em;
    height: 5em;
    font-size: 1em;
    border-radius: 3em;
    border-style: solid;
    border-color: black;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Finger Paint';
}
#ghostride-zone-bottom {
	position: relative;
	top:11em;
}

#car-image {
	position: relative;
	left: 750px;
	width: 150px;
	display: none;
}

#bunny-image {
	position: relative;
	width: 100px;
	left: 775px;
	display: none;
}

#quiz {
	z-index: 0;
}
.question-wrapper {
    margin: auto;
    position: absolute;
    top: 10em;
    width: 40%;
    height: auto;
    float: left;
    left: 5em;
    padding: 1em 0 1em 0;
    border-style: solid;
    border-radius: 1em;
    background-color: white;
}

.question-text {
	font-family: "Finger Paint";
	font-size: 1.5em;
	margin-bottom: 2em;
}

.question-wrapper ul {
	width: 50%;
    margin: auto;
}
.wrong-answer {
	margin: .75em 0 0 0;
    width: 100%;
    background-color: red;
    font-size: 1.5em;
    border-radius: .5em;
    padding: .5em;
}
.list-answer-item {
    margin: .75em 0 0 0;
    width: 100%;
    background-color: #66FFFF;
    font-size: 1.5em;
    border-radius: .5em;
    padding: .5em;

}
.selectedAnswer {
    margin: .75em 0 0 0;
    width: 100%;
    background-color: orange;
    font-size: 1.5em;
    border-radius: .5em;
    padding: .5em;
}

#quiz-tracker {
	float: right;
    position: absolute;
    top: 10em;
    left: 52em;
    width: 20%;
    height: auto;
    padding: 1em 0 1em 0;
    border-style: solid;
    border-radius: 1em;
    background-color: white;
}
#quiz-tracker h2 {
	font-family: "Finger Paint";
	font-size: 1.5em;
	margin-bottom: 1em;
}
#quiz-tracker li {
	margin-top: 1em;

}

#results {	
	display: none;
}

#results h2 {
	font-family: "Finger Paint";
	font-size: 1.5em;
}

#feedback {
	margin: auto;
	width: 40%;
}

#feedback p {
	margin-top: 3em;
}


#new-game {
	margin-top: 3em;
	width: 20em;
    height: 5em;
    font-size: 1em;
    border-radius: 3em;
    border-style: solid;
    border-color: black;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Finger Paint';
}


